body {
    font-family: PT Sans;
}

header {
    background-color: #ffcd34;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    overflow: hidden;
}

.logo {
    float: left;
    font-size: 24px;
    color: black;
	
}

header a {
    text-decoration: none;
    color: black;
}

.logo img,
.logo span {
    display: inline-block;
    vertical-align: middle;	
    line-height: 75px;
}

.main-nav ul {
    margin: 0;
}

.logo-img {
    margin-right: 3px;
}

.main-nav {
    float: right;
}

header li {
    display: inline-block;
}

.main-nav li a {
    padding: 15px 19px;
    border: 2px solid transparent;
    line-height: 75px;
    color: #866c1b;
}

.main-nav li a:hover {
    border: 2px solid #bc9d36;
    color: black;
}

.main-nav li a:active {
    border: 2px solid #796e38;
    color: black;
}

.main-nav li .link-active {
    color: black;
}

.btn {
    padding: 18px 27px;

}

.btn-consult {
    background-color: #ffe184;
    color: black !important;
}

.btn-consult:hover {
    border: 2px solid transparent !important; 
    background-color: #ffecb2;	
}

.btn-consult:active {
    background-color: #f6bf16;
}